name: Lint

on:
  push:
  pull_request:

permissions: {}

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout the repository
        uses: "actions/checkout@v6"

      - name: Set up Python
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Update pip
        run: python3 -m pip install --upgrade pip

      - name: Install requirements
        run: python3 -m pip install -e .

      - name: Lint
        run: python3 -m ruff check .

      - name: Format
        run: python3 -m ruff format . --check
